
<div class="container">
    <div class="row">
        <div class="page-header">
        	<div class="col-md-4">
            	<h1><%= title %></h1>
            </div>
            <div class="col-md-4 col-md-offset-4">
            	<a href="/"><h3>主页</h3></a>
            	<a href="/admin/list"><h3>列表</h3></a>
            	<a href="/admin/movie"><h3>后台录入</h3></a>
            </div>
        </div>
    </div>
</div>